<h1>New Place</h1>

<% if @user != nil%>

<form action="/places" method="post">
  <p>
    <label for="name_input">Name</label>
    <input type="text" name="name" id="name_input">
  </p>

  <button>Save</button>
</form>

<% else %>

<a href = "\login">Login to enter a new place.</a>

<% end %>